name: "Build dev base"

on:
    workflow_dispatch:
    workflow_call:
    schedule:
        - cron: "7 4 * * *"
    push:
        branches:
            - dev

jobs:
    docker:
        runs-on: [self-hosted]
        strategy:
            matrix:
                include:
                    - os: alpine
                      os_version: "3.23"
                      golang: golang:1.26-alpine3.23
                      platforms: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6
                      branch: dev
                    - os: ubuntu
                      os_version: "24.04"
                      golang: golang:1.26-alpine3.23
                      platforms: linux/amd64
                      branch: dev

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  ref: ${{ matrix.branch }}

            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: |
                      datarhei/base
                  tags: |
                      type=raw,value=core-${{ matrix.branch }}-${{ matrix.os }}${{ matrix.os_version }}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@master
              with:
                  platforms: all

            - name: Set up Docker Buildx
              id: buildx
              uses: docker/setup-buildx-action@master

            - name: Login to DockerHub
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build Multi-Arch
              uses: docker/build-push-action@v5
              with:
                  builder: ${{ steps.buildx.outputs.name }}
                  context: .
                  file: ./Dockerfile
                  build-args: |
                      BUILD_IMAGE=${{ matrix.os }}:${{ matrix.os_version }}
                      GOLANG_IMAGE=${{ matrix.golang }}
                  platforms: ${{ matrix.platforms }}
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}

    bundle:
        needs: docker
        uses: ./.github/workflows/build_bundle_dev.yaml
        secrets: inherit
